[config]
;dirs 设备类型
dirs=bis,nis,nws,webapp

;exts 文件后缀
exts=.log,.txt

;img_exts 图片后缀
img_exts=.png,.jpg,.JPEG,.bmp

;根目录名称，默认 log
root=log

;外网服务器配置
host=test.ims.com:80
appid=wxcw846rde12w3fb9p
appsecret=489r67esrqa341vcnb1m16azfm789nbmnhj8

; 压缩截图
is_resize_img=false

[ftp]
;ftp 服务器ip,账号，密码
ip=10.0.0.23
username=admin
password=Chindeo

[time]
;h,m,s 对应时分秒
;扫描日志
sync_log_time=4
sync_log=m
;同步数据到外网
sync_data_time=1
sync_data=h

[web]
; 大屏ip 多个大屏用 , 分隔
ip=10.0.0.149,
account=administrator
password=chindeo888

[android]
account=root
password=Chindeo

[http]
port=8001

[mysql]
;只有访问权限的账号密码
username=visible
pwd=Chindeo